<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <nav class="navbar navbar-default">

        <div class="container">
            <div class="navbar-header">
                <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/main">РВВДКУ</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasRole('ROLE_USER')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Абитуриенты<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/recruitQuestionary">Регистрация абитуриента</a></li>
                            <li><a href="/user/recruitsListPage">Список абитуриентов</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="hasRole('ROLE_USER')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учебные роты<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/facultiesPage">Формирование учебных рот</a></li>
                            <li><a href="/user/recruitsDistributionPage">Списки учебных рот</a></li>
                        </ul>
                    </li>

                    <li><a th:if="${#request.userPrincipal != null}" href="/user/enrollmentPage">Зачисление</a></li>
                </ul>

                <!-- Блок, расположенный справа -->
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Администратору<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/usersListPage">Состав сотрудников</a></li>
                            <li><a href="#">Ссылка</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Ссылка</a></li>
                        </ul>
                    </li>
                    <li><a th:if="${#request.userPrincipal != null}" href="/userInfo">Личный кабинет</a></li>
                    <li><a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Авторизация</a></li>
                    <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выход</a></li>
                </ul>


            </div>
        </div>
    </nav>
</nav>
</body>
</html>