<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>User Info</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>

<!--<p sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--Hello-->
<!--</p>-->
<div class="container" style="background-color: #c1e2b3">
    <div class="row">
        <div class="col-md-4" style="background-color: darkorange">Left</div>
        <div class="col-md-4" style="background-color: blueviolet">Center</div>
        <div class="col-md-4" style="background-color: seagreen">Right</div>
    </div>
</div>
<div class="container">
    <div class="row">
        Ваши вопросы
    </div>
</div>

</body>
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js" type="text/javascript"></script>
<script th:src="@{/js/popper.js}" src="../static/js/popper.js" type="text/javascript"></script>

</html>