<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-editable-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Список пользователей приложения</title>
</head>

<body>
<th:block th:include="/_menu"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="table-responsive">
                <table id="recruitsTable" class="table table-hover table-sm">
                    <thead>
                    <tr class="active">
                        <th class="col-md-1 col-xs-1">Рег. номер</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Дата рождения</th>
                        <th>Город</th>
                        <th class="col-md-1 col-xs-1">Ред</th>
                        <th class="col-md-1 col-xs-1">Аттестат+ЕГЭ</th>
                        <th class="col-md-1 col-xs-1">Заявка</th>
                        <th class="col-md-1 col-xs-1">Удалить</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="recruit: ${recruitsList}">
                        <td th:utext="${recruit.recruitId}">...</td>
                        <td th:utext="${recruit.surname}">...</td>
                        <td th:utext="${recruit.name}">...</td>
                        <td th:utext="${recruit.secondName}">...</td>
                        <td th:utext="${recruit.birthday}">...</td>
                        <td th:utext="${recruit.address.city.cityName}">...</td>

                        <td>
                            <a th:href="@{/user/editPage/{recruitId}(recruitId=${recruit.recruitId})}"
                               class="btn btn-primary btn-xs glyphicon glyphicon-edit" )></a>
                        </td>


                        <td th:if="${recruit.exam==null||recruit.certificate==null}">
                            <a th:href="@{/user/educationPage/{recruitId}(recruitId=${recruit.recruitId})}"
                               class="btn btn-warning btn-xs glyphicon glyphicon-education" )></a>
                        </td>
                        <td th:if="${recruit.exam!=null&&recruit.certificate!=null}">
                            <a th:href="@{/user/editEducationPage/{recruitId}(recruitId=${recruit.recruitId})}"
                               class="btn btn-success btn-xs glyphicon glyphicon-education" )></a>
                        </td>


                        <td th:if="${recruit.requests.size()==0}">
                            <a th:href="@{/user/requestsPage/{recruitId}(recruitId=${recruit.recruitId})}"
                               class="btn btn-warning btn-xs glyphicon glyphicon-star" )></a>
                        </td>
                        <td th:if="${recruit.requests.size()!=0}">
                            <a th:href="@{/user/editRequestsPage/{recruitId}(recruitId=${recruit.recruitId})}"
                               class="btn btn-success btn-xs glyphicon glyphicon-edit" )></a>
                        </td>

                        <td>
                            <a th:href="@{/user/deleteRecruit(recruitId=${recruit.recruitId})}"
                               class="btn btn-danger btn-xs glyphicon glyphicon-trash delete" )></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="col-md-1 col-xs-1">Рег. номер</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Дата рождения</th>
                        <th>Город</th>
                        <th class="col-md-1 col-xs-1">Ред</th>
                        <th class="col-md-1 col-xs-1">Аттестат+ЕГЭ</th>
                        <th class="col-md-1 col-xs-1">Заявление</th>
                        <th class="col-md-1 col-xs-1">Удалить</th>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>


</body>

<script th:src="@{/js/bootstrapValidator.min.js}" src="../static/js/bootstrapValidator.min.js"
        type="text/javascript"></script>
<script th:src="@{/js/jquery-editable-select.min.js}" src="../static/js/jquery-editable-select.min.js"
        type="text/javascript"></script>
<script th:src="@{/js/jquery.maskedinput.min.js}" src="../static/js/jquery.maskedinput.min.js"
        type="text/javascript"></script>


<!--<script th:src="@{/js/jquery.dataTables.min.js}" src="../static/js/jquery.dataTables.min.js"-->
<!--type="text/javascript"></script>-->
<!--<script th:src="@{/js/dataTables.bootstrap.min.js}" src="../static/js/dataTables.bootstrap.min.js"-->
<!--type="text/javascript"></script>-->

<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-confirm-delete.js}" src="../static/js/bootstrap-confirm-delete.js"
        type="text/javascript"></script>
<script th:src="@{/js/recruitsListPage.js}" src="../static/js/recruitsListPage.js" type="text/javascript"></script>
<script th:src="@{/js/validation.js}" src="../static/js/validation.js" type="text/javascript"></script>

</html>