<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
<h2>Анкета работника завода</h2>
<form th:action="@{/user/addRecruit}" class="form-horizontal" th:object="${recruitForm}" method="POST">
    <div class="form-group">
        <label class="control-label col-xs-3" for="recruitSurname">Фамилия:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="recruitSurname" th:field="*{surname}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="recruitName">Имя:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="recruitName" th:field="*{name}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="secondName">Отчество:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="secondName" th:field="*{secondName}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="birthday">Дата рождения:</label>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="birthday" th:field="*{birthday}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="passportNumber">Пасспорт:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="passportNumber" th:field="*{passport.passportNumber}"
                   placeholder="Введите серию и номер пасспорта"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="passportIssuedBy">Кем выдан:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="passportIssuedBy" th:field="*{passport.passportIssuedBy}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="passportDate">Дата выдачи пасспорта:</label>
        <div class="col-xs-9">
            <input type="date" class="form-control" id="passportDate" th:field="*{passport.passportDate}">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-3">Пол:</label>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="sex" value=true> Мужской
            </label>
        </div>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="sex" value=false> Женский
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Семейное положение:</label>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="familyStatus" value=true> Женат (замужем)
            </label>
        </div>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="familyStatus" value=false> Не женат (не замужем)
            </label>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-3" for="phoneNumber">Телефон:</label>
        <div class="col-xs-9">
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Введите номер телефона">
        </div>
    </div>

    <div>
        <select th:field="*{nationality}">
            <option th:each="nationality: ${nationalitiesList}"
                    th:value="${nationality.getNationalityId()}"
                    th:text="${nationality.getNationalityName()}"></option>
        </select>
    </div>

    <div>
        <select th:field="*{office}">
            <option th:each="office: ${officesList}"
                    th:value="${office.getOfficeId()}"
                    th:text="${office.getOfficeName()}"></option>
        </select>
    </div>

    <div>
        <select th:field="*{address.city}">
            <option th:each="city: ${citiesList}"
                    th:value="${city.getCityId()}"
                    th:text="${city.getCityName()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="recruitSurname">Деревня:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="villageName" value=null th:field="*{address.villageName}"
                   placeholder="Если есть">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="streetName">Улица:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="streetName" th:field="*{address.streetName}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="houseNumber">Дом:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="houseNumber" th:field="*{address.houseNumber}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="blockNumber">Корпус:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="blockNumber" th:field="*{address.blockNumber}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="apartmentNumber">Квартира:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="apartmentNumber" th:field="*{address.apartmentNumber}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreMath">Математика:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreMath" th:field="*{exam.scoreMath}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreRusLang">Русский язык:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreRusLang" th:field="*{exam.scoreRusLang}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scorePhysics">Физика:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scorePhysics" th:field="*{exam.scorePhysics}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreForeignLang">Иностранный язык:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreForeignLang" th:field="*{exam.scoreForeignLang}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreHistory">История:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreHistory" th:field="*{exam.scoreHistory}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreSocial">Обществознание:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreSocial" th:field="*{exam.scoreSocial}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="scoreLiterature">Литература:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scoreLiterature" th:field="*{exam.scoreLiterature}">
        </div>
    </div>

    <div>
        <select th:field="*{exam.examYear}">
            <option th:each="year: ${validExamYears}"
                    th:value="${year}"
                    th:text="${year}"></option>
        </select>
    </div>

    <br/>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Регистрация">
            <input type="reset" class="btn btn-default" value="Очистить форму">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="additionalInformation">Доп информация:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" id="additionalInformation"></textarea>
        </div>
    </div>
</form>

</body>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
</html>